body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(contactbkgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Dropdown */
.nav-link {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius:4px;
}

.dropdown:hover .nav-link {
    background-color: lightgrey;
}

.dropdown-content {
    display: none;
    position:absolute;
    border: 1px solid green;
    background-color: white;
    min-width: 160px;
    border-radius:4px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover a:hover {
    background-color: palegreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}